In [1]:
input("hello :")

hello : kk

'kk'

In [1]:
n = int(input("Enter ur number : "))
start =0
counter = 1

while counter <= n:
    start += counter
    counter+=1

start

Enter ur number :  5

15

In [2]:
# fact
number = int(input("Enter the number: "))
fact = 1
while n>0:
    fact = fact * n
    n = n -1

fact

Enter the number:  5

120

In [3]:
#fib
n = int(input("Enter the number: "))
a,b = 0,1
counter = 1

while counter<=n:
    print(a)
    c=a+b
    a=b
    b=c
    counter = counter + 1

Enter the number:  9

0
1
1
2
3
5
8
13
21

In [4]:
a,b = 0,1
for i in range(10):
    print(a)
    c = a+b
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34

In [5]:
s = "sudh"
s[::-1]

'hdus'

In [6]:
word = input("Enter the string : ")
reverse = ""

length = len(word)
while length > 0 :
    reverse = reverse + word[length-1]
    length = length - 1

reverse

Enter the string :  joshton

'nothsoj'

In [9]:
# print table of number
n = int(input("Enter the number: "))
i = 1

while i<=10:
    result = n * i
    print(n ,"*" , i , "=" , result)
    i += 1

Enter the number:  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [11]:
l = [1,2,3,4,5]
l1 = []

for i in l:
    l1.append(i**2)

l1

[1, 4, 9, 16, 25]

In [12]:
[i**2 for i in l]

[1, 4, 9, 16, 25]

In [13]:
[i for  i in l if i%2==0 ]

[2, 4]

In [14]:
l1 = ["sudh" , "pwskills" , " kumar" , "data science masters"]

In [15]:
[i.upper() for i in l1]

['SUDH', 'PWSKILLS', ' KUMAR', 'DATA SCIENCE MASTERS']

In [18]:
a = list(i**2 for i in l)
a

[1, 4, 9, 16, 25]

In [24]:
d = {
    "key1" : 1,
    "key2" : 2,
    "key3" : 3,
    "key4" : 4,
}

# for k,v in d.items

In [26]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3), ('key4', 4)])

In [27]:
{k:v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}