# MEASURE OF CENTRAL TENDENCY

In [ ]:
1 Mean or avg
2 Median
3 Mode (mximum frequency)

In [ ]:
why median?
beacues if outlier is large in the data then median will be in less shift

In [ ]:
why mode?
it is used in EDA and feature engineering . it is used in categorical feature

In [1]:
## Mean(Average)
age=[12,21,23,45,65,43,56,45,32,67,54,34]

In [2]:
import numpy as np
np.mean(age)

41.416666666666664

In [3]:
weights=[54,45,34,54,34,67,54,56,75]
np.mean(weights)

52.55555555555556

In [4]:
import seaborn as sns
df=sns.load_dataset('tips')

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
np.mean(df['total_bill'])

19.78594262295082

In [7]:
np.median(age)

44.0

In [8]:
age=[12,21,23,45,65,43,56,45,32,67,54,34,200]

In [9]:
np.mean(age)

53.61538461538461

In [10]:
np.median(age)

45.0

In [11]:
# for mode
from scipy import stats

In [12]:
stats.mode(age)

ModeResult(mode=45, count=2)